<div class="bg-off-white pv4">
	<div class="ph3 mw7 center">
		<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
			<img src="/img/logo.png" alt="KVT Silesia logo" class="br0 db mb0 w-300"/>
		</a>
		<h2 class="f2 b lh-title mb2">{{.heading}}</h2>
		<p class="mb4 mw6">{{.description}}</p>

		<div class="flex-ns flex-wrap mhn2-ns mb3">
			{{ range .blurbs }}
				<div class="ph2-ns w-50-ns mb4">
					<img src="{{ .image }}" alt="" class="center db mb3" style="width: 240px">
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>
	</div>
</div>
