<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}')">
  <!-- <div class="mw7 center ph3"> -->
    <!-- <a href="/" class="pa3 db mr4 h-100 w3 flex-none">
			<img src="/img/logo.png" alt="KVT Silesia logo" class="br0 db mb0 w-300"/>
    </a> -->
    
    <div class="tc db mb0 mw7 center pv4">
        <img class="ph2 pv2"src="img/logo.png">
    

    <div class="center-narrow relative pruhledne ph2 pv2 mh2 pv0 tc center varta bg-grey-5">
      <div class="mb3">
        <h1 class="f2 f1-l di lh-title white">
          {{.title}}
        </h1>
      </div>
      <div class="">
        {{ if .subtitle }}
        <p class="f4 di lh-title white">
          {{.subtitle}}
        </p>
        {{ end }}

      </div>

      </div>
    </div>
  <!-- </div> -->
</div>
