<div class="pv5 pv6-l ph3 bg-center cover" style="background-image: url('{{.imageUrl}}')">
  <!-- <div class="mw7 center ph3"> -->
    <!-- <a href="/" class="pa3 db mr4 h-100 w3 flex-none">
			<img src="/img/logo.png" alt="KVT Silesia logo" class="br0 db mb0 w-300"/>
    </a> -->
    
    <div class="db mb0 mw7 center ph3">
        <img src="img/logo.png">
    

    <div class="varta">
      <div class="mw7 relative mb3">
        <h1 class="f2 f1-l b di lh-title mb3 black mw6">
          {{.title}}
        </h1>
      </div>
      <div class="varta mw7 relative">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 black mw6">
          {{.subtitle}}
        </p>
        {{ end }}

      </div>

      </div>
    </div>
  <!-- </div> -->
</div>
